<h1>Edit an existing Sample</h1>
<!--error Check and print-->
<% if @ins.errors.any?%>
	<h2>The following error sttoped the sample to be saved</h2>
	<ul>
	<%@ins.errors.full_messages.each do |msg|%>
		<li><%=msg%></li>
	<%end%>
	</ul>
<%end%>
<!--Orignail form-->
<%= form_for @ins do |f| %>
	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name%>
	</p>
	
	<p>
		<%= f.label :description%><br>
		<%= f.text_area :description%>
	</p>

	<p> <%= f.submit "Update Record"%></p>
<% end%>
<br><br>
<td><%= link_to "Back to All Records list",samples_path%></td>